
<h3>Exception Details:</h3>
<div class="alert alert-danger">
    <h5>Exception Message</h5>
    <hr />
    <p>@ViewBag.Message</p>
</div>
<div class="alert alert-danger">
    <h5>Exception</h5>
    <hr />
    <p>@ViewBag.Exception</p>
</div>
<div class="alert alert-danger">
    <h5>Exception Stack Trace</h5>
    <hr />
    <p>@ViewBag.LogEvent</p>
</div>
